<html>
    <head>
    </head>
    <body>
        <div>
                <div>
                  <input name="title" value="Brevet distance, open, and close time" />
                </div>
                <div>
                  <textarea name="body" rows="8" cols="80">Some text!</textarea>
                </div>
            </form>
        </div>
        <div>
            {% for article in items %}
            <div>
                <h1>{{ article.title }}</h1>
                <p>{{ article.body }}</p>
                <hl />
            </div>
            {% endfor %}
        </div>
    </body>
</html>
